[user]
	name = Mark Simpson
	email = verdammelt@gmail.com

[color]
	ui=auto

[alias]
    man = help
	ci = commit -v
	co = checkout
	aa = add --all
	di = diff
	dc = diff --cached
	l = "!source ~/.githelpers && pretty_git_log"
    lg = !git l
    la = !git l --all
	r = !git l -10
    ra = !git r --all
	rehead = reset --hard HEAD

[github]
	user = verdammelt

[achievement]
	upload = true
[push]
	default = simple
