*.DS_Store
*~
.CFUserTextEncoding
.DownloadManager
.Trash
.Xauthority
.\#*
.aspell*
.authinfo
.bash_history
.bbdb
.bogofilter
.bundler
.cups
.cvspass
.dropbox
.dvdcss
.elinks
.fetchmail.pid
.fetchmail.pid
.fetchmailrc
.fontconfig
.gconfd
.gem
.git-achievements*
.githubtoken
.gnome2
.gnupg
.gnus.registry*
.heroku
.ispell*
.jline-clojure.main.history
.lein
.lesshst
.m2
.netrc
.newsrc
.newsrc-dribble
.newsrc.eld
.nnmail-cache
.pow
.pry_history
.psql_history
.rubyforge
.rvm
.serverauth.*
.sh_history
.sqlite_history
.ssh
.subversion
.texlive2010
.tramp_history
.vim-tmp
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
LifeLines
Movies
Music
News
Pictures
Public
SRC
Sites
\#*
