*.DS_Store
\#*
.\#*
*~
/.Trash
/.CFUserTextEncoding
/.DownloadManager
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
News
Pictures
Public
SRC
Sites
.viminfo
LifeLines
.bash_history
.fetchmail.pid
