*~
\#*
.\#*

*.DS_Store
.CFUserTextEncoding
.DownloadManager
.Trash
.Xauthority
.aspell*
.authinfo
.bash_history
.bbdb
.bogofilter
.bundler
.cups
.cvspass
.dropbox
.dvdcss
.fetchmail.pid
.fetchmail.pid
.fetchmailrc
.fontconfig
.gconfd
.gem
.git-achievements*
.gnupg
.gnus.registry*
.heroku
.lesshst
.netrc
.newsrc
.newsrc-dribble
.newsrc.eld
.nnmail-cache
.pry_history
.rubyforge
.rvm
.sh_history
.sqlite_history
.ssh
.subversion
.texlive2010
.tramp_history
.vim-tmp
.viminfo

Applications
Desktop
Documents
Downloads
Dropbox
Library
LifeLines
Movies
Music
News
Pictures
Public
SRC
Sites
.gnome2
.serverauth.*
