[user]
	name = Mark Simpson
	email = verdammelt@gmail.com
	signingkey = 795B23F016E7D220

[color]
	ui=auto

[alias]
	aa = add --all
	ci = commit -v
	co = checkout
	dc = diff --cached
	di = diff
	l = log --oneline
	lg = l --graph
	lsalias = config --get-regexp alias
	man = help
	rehead = reset --hard HEAD

[github]
	user = verdammelt

[push]
	default = simple

[rerere]
        enabled = true
	autoUpdate = true
[remote]
	pushDefault = origin
[pull]
	rebase = preserve
[credential]
	helper = osxkeychain
[diff]
	mnemonicPrefix = true
