.backups
.history
.keyfreq
.keyfreq.lock
.lsp-session-v1
.org-clock-save.el
.org-id-locations
.places
.projectile-bookmarks.eld
.smex-items
bookmarks
elpa
eln-cache
emojis
org-roam.db
projectile-bookmarks.eld
tramp
url
